body{
	background: url(../img/fundo.jpg);
}

#interface{
	display: block;
	position: relative;
	margin-top: 66px;
}

div{
	display: block;
}

.cabecalho{
	background: url(../img/header-bg.png) repeat-x;
	height: 56px;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 0 10px 1px #000;
}

.cabecalho img{
	border: 0;
}

#logo{
	float: left;
    display: block;
    height: 56px;
    padding: 3px 5px 0 0;
    margin-left: 10%;
    margin-right: 3%;
}